[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WhatsApp Web
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=hnpfjngllnobngcgfapefoaidbinmjnm
Icon=/home/kairav/.local/share/icons/hicolor/512x512/apps/chrome-hnpfjngllnobngcgfapefoaidbinmjnm-Profile_1.png
StartupWMClass=crx_hnpfjngllnobngcgfapefoaidbinmjnm
