#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Cytoscape
Exec="/home/kairav/Cytoscape_v3.10.4/Cytoscape" %U
Icon=/home/kairav/Cytoscape_v3.10.4/.install4j/Cytoscape.png
Categories=Application;
StartupWMClass=install4j-org-cytoscape-launcher-internal-Launcher
