[Desktop Entry]
Name=CLion 2026.1.2
Exec="/home/kairav/.local/share/JetBrains/Toolbox/apps/clion/bin/clion" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=jetbrains-clion-02981523-7148-4965-9d69-d74d84d2bd61
X-Icon-Path=/home/kairav/.local/share/icons/hicolor/scalable/apps/jetbrains-clion-02981523-7148-4965-9d69-d74d84d2bd61.svg
X-Installed-Icon-Cache-Path=/home/kairav/.local/share/icons/hicolor
X-Icon-Name-Before-Sanitization=jetbrains-clion-02981523-7148-4965-9d69-d74d84d2bd61.desktop.icon.svg
Comment=A cross-platform C and C++ IDE
StartupWMClass=jetbrains-clion
StartupNotify=true
